<div id="users">
  <h2>Users</h2>
  <div class="row action-panel">
    <!-- Column Filter -->
    <div class="col-lg-3 col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Columns</mat-label>
        <mat-select [formControl]="columns" multiple [(value)]="displayedColumns" (selectionChange)="displayColumns()">
          <mat-select-trigger>
            {{columns.value ? columns.value[0] : ''}}
            <span *ngIf="columns.value?.length > 1" class="example-additional-selection">
              (+{{columns.value.length - 1}} {{columns.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option value="picture">Picture</mat-option>
          <mat-option value="name">Name</mat-option>
          <mat-option value="gender">Gender</mat-option>
          <mat-option value="age">Age</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="phone">Phone</mat-option>
          <mat-option value="location">Location</mat-option>
          <mat-option value="userSince">User since</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!-- Gender Filter -->
    <div class="col-lg-3 col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select #gender (selectionChange)="filterGender(gender.value)">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="">Both</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!-- Nationality Filter -->
    <div class="col-lg-3 col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Nationality</mat-label>
        <mat-select #nationality (selectionChange)="filterNationality(nationality.value)">
          <mat-option value="">All</mat-option>
          <mat-option value="au">Australia</mat-option>
          <mat-option value="br">Brazil</mat-option>
          <mat-option value="ca">Canada</mat-option>
          <mat-option value="ch">Switzerland</mat-option>
          <mat-option value="de">Germany</mat-option>
          <mat-option value="dk">Denmark</mat-option>
          <mat-option value="es">Spain</mat-option>
          <mat-option value="fi">Finland</mat-option>
          <mat-option value="fr">France</mat-option>
          <mat-option value="gb">United Kingdom</mat-option>
          <mat-option value="ie">Ireland</mat-option>
          <mat-option value="ir">Iran</mat-option>
          <mat-option value="no">Norway</mat-option>
          <mat-option value="nl">Netherlands</mat-option>
          <mat-option value="nz">New Zealand</mat-option>
          <mat-option value="tr">Turkey</mat-option>
          <mat-option value="us">United States</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!-- Export -->
    <div class="col-lg-3 col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Export as</mat-label>
        <mat-select #exportAs (selectionChange)="exportTable(exportAs.value)">
          <mat-option value="csv">CSV</mat-option>
          <mat-option value="xml">XML</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="usersTable" *ngIf="!freshLoad" infinite-scroll [infiniteScrollDistance]="0" (scrolled)="addUsers()">
      <!-- Picture Column -->
      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <div class="profile" [ngStyle]="element.picture"></div> </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
    
      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef style="padding: 0 10px;"> Age </th>
        <td mat-cell *matCellDef="let element" style="padding: 0 10px;"> {{element.age}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>

      <!-- User since Column -->
      <ng-container matColumnDef="userSince">
        <th mat-header-cell *matHeaderCellDef> User since </th>
        <td mat-cell *matCellDef="let element"> {{element.userSince}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="loading" style="margin-top: 10px;">
      <div class="row-loader" *ngFor="let skeleton of skeletons">
        <ngx-skeleton-loader appearance="line" [theme]="{ 'border-radius': '4px', height: '40px', 'margin': '5px 0', 'width': '100%' }"></ngx-skeleton-loader>
    </div>
  </div>
</div>